In [7]:
# variables here we assing a value to a variable
x = 123
y = 679 
add = x+y
print(add)

802

In [9]:
x = 568
y = 489
sub = x-y
print(sub)

79

In [12]:
#variable examples ended
x =678
y = 789
add = x+y
sub = x-y
print(add,sub)

1467 -111

In [14]:
#numbers examples
# adding numbers
1+1

2

In [16]:
# multiplying numbers
(19*8+9*8)

224

In [18]:
# finding a power to the given number
19**8

16983563041

In [3]:
#numbers example ended
(57**5+9)

601692066

In [8]:
#string examples
session = 'python'
timing = 5;30
print('the session is : {}, timing is : {}' . format(session , timing))

the session is : python, timing is : 5

In [10]:
datatype1 = 'string'
datatype2 = 'number'
datatype3 = 'print'
datatype4 = 'lists'
print('the datatype1 is : {}, datatype2 is : {}, datatype3 is : {}, datatype4 is : {}' . format(datatype1, datatype2, datatype3, datatype4))

the datatype1 is : string, datatype2 is : number, datatype3 is : print, datatype4 is : lists

In [2]:
#number  examples ended
x = 67
y = 78
mul = x*y
add = x+y
print(add,mul)

145 5226

In [3]:
#looops
#
a = 56
b = 67
if b>a:
    print('this is true')

this is true

In [5]:
a = 78
b = 48
if a>b:
    print('this is true')

this is true

In [14]:
a = 78
b = 89
if a<b:
    print('this is true')

this is true

In [36]:
a = 88
b = 88
if a == b:
    print('if the statement is true')

if the statement is true

In [154]:
a = 87
b = 88
if a<b:
    print('if the statement is true')

if the statement is true

In [99]:
a = 87
b = 88
if a<b:
    print('if the statement is true')

if the statement is true

In [36]:
a = 33
b = 33
if b>a:
    print('this is true')
elif a==b:
    print('a and b are equal')

a and b are equal

In [98]:
a = 67
b = 78
if b>a:
    print('if the statement is true')

if the statement is true

In [112]:
a = 'sushmitha'
if a:
    print('if sushmitha is a')

if sushmitha is a

In [135]:
statement1 = 'she likes tea'
statement2 = 'she likes tea'
if statement1==statement2:
    print('this is true')

this is true

In [151]:
vinisha = 'i like tea'
sushmitha = 'i like tea'
if vinisha==sushmitha:
    print('this is good')

this is good

In [156]:
sushmitha = 'i like tea'
sushmitha = 'i like coffe'
if sushmitha==sushmitha:
    print('this is good')

this is good

In [ ]:
a = 66
b = 66
if b>a:
    print('this is true')
elif a == b:
    print('a and b are equal')

In [7]:
#  example of if and else
amount = int(input('Enter the amount:'))
if amount<1000:
    discount = amount*0.05
    print('Discount' ,discount)
else:
    discount=amount*0.10
    print('Discount',discount)
    print('net payable:',amount-discount)

Enter the amount:900
Discount 45.0

In [27]:
# another example of  if else
Billpayable = int(input('Enter the amount:'))
if Billpayable<5000:
    discountedvalue = Billpayable*0.10
    print('The discount is', discountedvalue)
else:
    discountedvalue = Billpayable*0.20
    print('The discount is', discountedvalue)
    
print('net payable:',Billpayable-discountedvalue)

Enter the amount:2000
The discount is 200.0
net payable: 1800.0

In [22]:
# another example of if else elif
Totalprice = int(input('Enter the amount:'))
if   Totalprice<5000:
    excludingdiscount = Totalprice*0.10
    print('show discount value is', excludingdiscount)
elif Totalprice<10000:
    excludingdiscount = Totalprice*0.20
    print('show discount value is', excludingdiscount)
else:
    excludingdiscount = Totalprice*0.30
    print('show discount value is', excludingdiscount)
print('net payable:',Totalprice-excludingdiscount)

Enter the amount:15000
show discount value is 4500.0
net payable: 10500.0

In [1]:
# another example of if statement
Totalsalary = int(input('Enter the salary:'))
if Totalsalary<2000:
    salaryincrement = Totalsalary*0.4
    print('the percentage of salary increment by employees', salaryincrement)
elif Totalsalary>5000:
    salaryincrement = Totalsalary*0.10
    print('the percentage of salary increment by employees', salaryincrement)
else:
    salaryincrement = Totalsalary*0.9
    print('the percentage of salary increment by employees', salaryincrement)
print('Total increment:', Totalsalary-salaryincrement)

Enter the salary:1500
the percentage of salary increment by employees 600.0
Total increment: 900.0

In [2]:
# if loop program 
bodyweight = int(input('enter the body weight:'))
if bodyweight>60:
    fat = bodyweight*0.50
    print('the amount of fat in human body', fat)
elif bodyweight<50:
    fat = bodyweight*0.20
    print('the amount of fat in human body',fat)
elif bodyweight<40:
    fat = bodyweight*0.05
    print('the amount of fat in human body',fat)
else:
    fat = bodyweight*0.30
    print('the amount of fat in human body',fat)
print('total body weight:',bodyweight-fat)

enter the body weight:70
the amount of fat in human body 35.0
total body weight: 35.0

In [1]:
#for loop example
nums = [10,20,30,40,50]
for numbers in nums:
    print(numbers)

10
20
30
40
50